.quote {
    height: 856px;
    padding: 100px 0 100px;
    background: #282828;
    .qwrapper {
        padding: 60px 0 60px;
        height: 656px;
        border: 2px solid white;
    }
    p {
        text-align: center;
        margin-bottom: 50px;
    }
}